* {
  margin: 0rem;
  padding: 0rem;
}

body {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #555;
}

header {
  background-color: rgb(10, 10, 84);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
* header {
  color: #fff;
}

header .menu ul li {
  display: inline-block;
  padding: 0 5px;
}

main {
  padding: 1rem;
}
main h1 {
  color: #333;
  margin-bottom: 0.5rem;
}
main h1 + p {
  color: #555;
}

footer {
  background-color: bisque;
  padding: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

button {
  margin-top: 2rem;
  background-color: #fff;
  padding: 5px 15px;
  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 375px) {
  button {
    background-color: aquamarine;
  }
  main h1 {
    font-size: 10px;
  }
  main button {
    text-align: center;
  }
}
